<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="mt-4 p-5 bg-primary text-white rounded"></div>
  <h1>Jumbotron Example</h1>
  <p>Welcome to the Home page of the Yuvraj Jindal`s in class activity on the express generator.</p>
</div>
